<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarmotChat</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/style-chat.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="chatpage">
      <!-- LEFT SIDE BACK BUTTON -->
      <div class="back-btn">
        <a href="/home">
          <button class="back-btn-btn">
            <img
              class="button-wrapper"
              src="images/BackButton.png"
              alt="backbutton"
            />
          </button>
        </a>
      </div>

      <!-- TESTING ACCOUNT -->
      <button
        class="button-filter text-button-filter button-wrapper"
        style="left: 25%; bottom: 2.5%"
        @click="setUserAndre"
      >
        User: andre
      </button>

      <!-- PAGE TITLE -->
      <div class="chat-title">MarmotChat</div>

      <!-- CHAT SECTION WINDOW -->
      <div class="chat-box">
        <!-- DISPLAY MESSAGES HERE -->
        <div class="chat-list">
          <component-message
            v-for="message in messages"
            :key="message.username"
            :message="message"
          ></component-message>
        </div>

        <!-- ENTER TEXT  -->
        <div class="msg-box-container">
          <input
            class="chat-msg-box"
            type="text"
            v-model="newMessageContent"
            placeholder="Enter Message"
            @keydown.enter="addMessage"
          />
        </div>

        <!-- TESTING INPUT FIELDS
        <input v-model="currentAvatar" placeholder="./images/IMAGE.FILE" />
        <input v-model="currentUsername" placeholder="v-model to username" />
        <button @click="loadMessagesToHTML">loadMessagesToHTML()</button> -->
      </div>
    </div>

    <!-- IMPORTS AND MOUNTS -->
    <script src="./scripts/chat.js"></script>
    <script src="./components/chat/message.js"></script>
    <script>
      // x.mount("#y")
      // Mounts the Vue application X onto the div with id "y"
      const mountedChatApp = chatApp.mount("#chatpage");
    </script>
  </body>
</html>
