<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTPortal - Clients</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/style-client.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- FOUND ON AXIOS SITE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!------------------------->
  </head>
  <body>
    <div id="client">
      <!-- HOMEPAGE BACK BUTTON -->
      <div class="back-btn">
        <a href="/home">
          <button class="back-btn-btn">
            <img
              class="button-wrapper"
              src="images/BackButton.png"
              alt="backbutton"
            />
          </button>
        </a>
      </div>

      <!-- TESTER BUTTONS -->
      <button
        class="button-filter text-button-filter button-wrapper"
        style="left: 0%"
        @click="toggleAddModal"
      >
        ADD CLIENT
      </button>
      <!-- <button
        class="button-filter text-button-filter button-wrapper"
        @click="loadClientsToHTML"
      >
        LOAD CLIENTS
      </button> -->

      <!-- ADD MODAL -->
      <div class="modal" v-if="displayAddModal" @click.self="toggleAddModal">
        <div class="modal-container">
          <!-- EXIT X BUTTON -->
          <div>
            <button
              class="btn-wrapper"
              style="width: 28px; margin-left: 1070%; margin-top: -20%"
              @click="toggleAddModal"
            >
              <img
                class="button-wrapper"
                style="
                  width: 28px;
                  background-color: white;
                  border: 1px solid white;
                  border-radius: 4px;
                  box-shadow: 2.1px 4.2px 4.2px hsl(0deg 0% 0% / 0.44);
                "
                src="images/exit-btn.png"
                alt="X"
              />
            </button>
          </div>

          <!-- ADD CLIENT BUTTON -->
          <button
            class="button-filter text-button-filter button-wrapper"
            style="left: 37.5%; bottom: 4%; margin-top: 2vh; width: 25%"
            @click="addNewClient"
          >
            Add New Client
          </button>

          <!-- NAME INPUT -->
          <div class="modal-box-title modal-grid-item-1">Name</div>
          <input class="info-box name-box" v-model="newClientName" />

          <!-- DATE INPUT -->
          <div class="modal-box-title modal-grid-item-2">Date</div>
          <input
            type="date"
            class="info-box date-box"
            v-model="newClientDate"
          />

          <!-- EMAIL INPUT -->
          <div class="modal-box-title modal-grid-item-3">Email</div>
          <input class="info-box email-box" v-model="newClientEmail" />

          <!-- PHONE NUMBER INPUT -->
          <div class="modal-box-title modal-grid-item-4">Phone Number</div>
          <input class="info-box number-box" v-model="newClientPhoneNumber" />

          <!-- WEBSITE INPUT -->
          <div class="modal-box-title modal-grid-item-5">Website</div>
          <input class="info-box web-box" v-model="newClientWebsite" />

          <!-- ADDRESS INPUT -->
          <div class="modal-box-title modal-grid-item-6">Address</div>
          <input class="info-box address-box" v-model="newClientAddress" />

          <!-- BUSINESS TYPE INPUT -->
          <div class="modal-box-title modal-grid-item-7">Business Type</div>
          <input class="info-box business-box" v-model="newClientType" />

          <!-- STATUS INPUT -->
          <div class="modal-box-title modal-grid-item-8">Status</div>
          <select class="info-box status-box" v-model="newClientStatus">
            <option>Current</option>
            <option>Potential</option>
            <option>Past</option>
          </select>
        </div>
      </div>

      <div class="client-container">
        <!-- The navigation buttons at the top of the page -->
        <div class="nav-flexbox">
          <button
            @click="showCurrentClients"
            class="btn-wrapper button-wrapper nav-flexbox-item"
          >
            Current <br />Clients
          </button>
          <button
            @click="showPotentialClients"
            class="btn-wrapper button-wrapper nav-flexbox-item"
          >
            Potential<br />Clients
          </button>
          <button
            @click="showPastClients"
            class="btn-wrapper button-wrapper nav-flexbox-item"
          >
            Past <br />Clients
          </button>
        </div>

        <!-- INDICATOR FOR FILTERS -->
        <!-- <div class="rounded-border"></div> -->

        <!-- Grid for displaying the client data -->
        <div class="data-grid">
          <div class="client-name" style="padding: 3%">Company Name</div>
          <div
            class="client-date"
            style="padding-top: 13.6%; text-align: center"
          >
            Date
          </div>

          <!-- Client components will be rendered here -->
          <!-- REMOVED 
            :key="client.id"
            :clientname="client.name"
            :clientdate="client.dates"
            :clientid="client.id"
            @client-clicked="handleClientClick" 
          -->
          <div class="client-list">
            <component-client
              v-for="client in displayClients"
              :client="client"
            ></component-client>
          </div>
        </div>
      </div>
      <!-- Modal for the client's contact info -->
      <!-- <client-info
        :email="clientData.email"
        :phoneNumber="clientData.phoneNumber"
        :website="clientData.website"
        :address="clientData.address"
        :type="clientData.type"
        :status="clientData.status"
        :display-modal="displayModal"
        @modal-closed="exitModal"
        @edits="updateClientData"
      ></client-info> -->
    </div>

    <!-- IMPORTS AND MOUNT -->
    <script src="./scripts/clients.js"></script>
    <script src="./components/client/clients.js"></script>
    <script src="./components/client/client-info.js"></script>
    <script src="./components/client/clientEntry.js"></script>

    <script>
      clientsApp.mount("#client");
    </script>
  </body>
</html>
