<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/style-events.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- FOUND ON AXIOS SITE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!------------------------->
  </head>

  <body style="margin: 0">
    <!-- VUE.JS APPLICATION -->
    <div id="eventsApp">
      <!-- BACK BUTTON -->
      <div class="back-btn">
        <button class="back-btn-btn">
          <img
            class="button-wrapper"
            src="images/BackButton.png"
            alt="backbutton"
          />
        </button>
      </div>

      <!-- EVENTS DISPLAY -->
      <div class="text-title" style="font-size: 8vh; margin-top: 3.5vh">
        EVENTS
      </div>
      <div class="container-smallButtons"></div>
      <div class="container-events">
        <!-- EVENTS COMPONENTS HERE -->
        <component-event
          v-for="event in events"
          :event="event"
        ></component-event>
      </div>

      <!-- MANAGE BUTTON -->
      <button
        class="button-icon text-button-filter button-wrapper"
        style="right: 20.5vw"
        @click="toggleAddModal"
      >
        +
      </button>

      <!-- FILTER BUTTONS -->
      <button
        class="button-filter text-button-filter button-wrapper"
        style="bottom: 51.25vh"
      >
        All
      </button>
      <button
        class="button-filter text-button-filter button-wrapper"
        style="bottom: 41.25vh"
      >
        Meetings
      </button>
      <button
        class="button-filter text-button-filter button-wrapper"
        style="bottom: 31.25vh"
      >
        Deadlines
      </button>

      <!-- Note that the modal for a specific event is outlined in the component -->

      <!-- ADDING EVENTS MODAL -->
      <div
        class="modal"
        v-if="displayAddModal"
        @click.self="toggleAddModal"
        style="overflow-y: hidden"
      >
        <div class="modal-event-container">
          <!-- ADD EVENT -->
          <button
            class="button-filter text-button-filter button-wrapper"
            style="right: 43.75vw; bottom: 17vh; margin-top: 2vh"
            @click="addNewEvent(newEventName, newEventDate, newEventType, newEventDesc)"
          >
            Create New Event
          </button>

          <!-- ADD MODAL EXIT -->
          <button
            class="button-expand text-button-filter button-wrapper"
            @click="toggleAddModal"
            style="padding-bottom: 0; top: 17vh; right: 25.5vw"
          >
            X
          </button>

          <!-- INPUT FIELDS -->
          <span class="text-input-label" style="top: 26vh">Event Name:</span>
          <!-- Use v-model for text fields -->
          <input class="input-text" v-model="newEventName" style="top: 25vh" />

          <span class="text-input-label" style="top: 36vh">Event Date:</span>
          <input class="input-text" v-model="newEventDate" style="top: 35vh" />

          <span class="text-input-label" style="top: 46vh">Event Type:</span>
          <select
            class="input-text"
            v-model="newEventType"
            style="top: 45vh; height: 6.25vh; width: 28.75vw"
          >
            <option>Meeting</option>
            <option>Deadline</option>
          </select>

          <span class="text-input-label" style="top: 55vh">Event Desc:</span>
          <textarea
            id="addDesc"
            class="input-text"
            v-model="newEventDesc"
            style="
              top: 55vh;
              height: 12.5vh;
              width: 26.25vw;
              text-indent: 0;
              padding: 1vw;
            "
          ></textarea>
        </div>
      </div>
    </div>

    <!-- IMPORT VUE.JS APPLICATION -->
    <script src="./scripts/events.js"></script>

    <!-- IMPORT COMPONENT -->
    <script src="./components/events/eventEntry.js"></script>

    <!-- MOUNT APP -->
    <script>
      // x.mount("#y")
      // Mounts the Vue application X onto the div with id "y"
      const mountedEventsApp = eventsApp.mount("#eventsApp");
    </script>
  </body>
</html>
