<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Req Tester</title>
    <link rel="stylesheet" href="styles/style-scheduling.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- FOUND ON AXIOS SITE -->
  </head>
  <body>
    <!-- <div class="sidebar"></div>
    <div class="mainsection"></div> -->

    <!-- PRODUCT DIV -->
    <div id="app">
      <!-- PRODUCT NAME AND IMAGE -->
      <h1>{{ title }}</h1>
      <img v-bind:src="image" />
      <p v-if="booleanInStock">In Stock</p>
      <p v-else>Out of Stock</p>

      <!-- LISTS AND VARIANTS -->
      <ul>
        <li v-for="adjective in details">{{ adjective, }}</li>
      </ul>
      <!-- ':' is shorthand for 'v-bind:' -->
      <div
        v-for="variant in variants"
        :key="variant.id"
        @mouseover="updateImage(variant.image)"
        class="color-circle"
        :style="{ backgroundColor: variant.color }"
      ></div>

      <!-- MAKE A BUTTON -->
      <button class="button" @click="checkLogin">check login req</button>
      <button class="button" @click="consoleTest">create account req</button>

      <div class="cart">Number of Cesars in the bean fields:({{ cart }})</div>
      <!-- SHORTHAND FOR 'v-on:' ==> '@' -->
    </div>

    <!-- Import Js -->
    <script src="./scripts/scheduling.js"></script>

    <!-- Mount app -->
    <script>
      const classTester = cesarGil.mount("#app");
      // const anotherClassTester = cesarChan.mount('#app')
    </script>
  </body>
</html>
