/* CONTAINERS */
.container-smallButtons {
  width: 60vw;
  height: 5vh;

  position: absolute;
  right: 20vw;
  bottom: 80vh;
  background-color: #26282c;
}
.container-events {
  width: 60vw;
  height: 75vh;

  position: absolute;
  right: 20vw;
  bottom: 5vh;
  background-color: #313338;
  overflow-y: auto;
}

/* TEXT */
.paragraph {
  font-family: "Montserrat";
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  line-height: 45px;
  /* margin-bottom: 180px;
  margin-top: 102px; */
}

/* BUTTONS */
.button-filter {
  width: 12.5vw;
  height: 7.5vh;

  position: absolute;
  /* display: block; */
  right: 3.75vw;
}
.button-icon {
  width: 4vh;
  height: 4vh;

  position: absolute;
  bottom: 80.5vh;
  right: 60vw;
  background-color: red;
}

/* EVENT */
.event {
  width: 95%;
  height: 15vh;
  background-color: red;

  margin-left: 2.5%;
  margin-top: 2.5%;
  display: block;
}

.lineVertical {
  height: 100%;
  width: 0.25%;
  background-color: white;

  position: absolute;
  left: 39.75%;
}
.button-manageEvent {
  width: 12.5%;
  height: 100px;

  position: absolute;
  margin-top: 5%;
}
