/* CONTAINERS */
.container-smallButtons {
  width: 60vw;
  height: 5vh;

  position: absolute;
  right: 20vw;
  bottom: 80vh;
  background-color: #26282c;
}
.container-events {
  width: 60vw;
  height: 75vh;

  position: absolute;
  right: 20vw;
  bottom: 5vh;
  background-color: #313338;
  overflow-y: auto;
}
.modal-event-container {
  /* MAIN WINDOW OF THE MODAL */
  width: 50vw;
  height: 70vh;
  background: #313338;
  border: 1vh solid white;
  margin: 15vh auto;
}

/* EVENT */
.event {
  width: 95%;
  height: 15vh;
  background-color: #313338;

  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  display: block;

  border: 0.5vh solid white;
  border-radius: 3vh;
  position: relative;
}

/* TEXT */
.text-event-title {
  color: white;
  font-family: "Osiris";
  font-size: 5vh;

  display: inline-block;
  max-width: 60%;
  max-height: 45%;
  overflow-y: auto;
  line-height: 5vh;

  margin-top: 0.3vh;
  margin-left: 1.5vh;
  margin-bottom: 0;
  margin-right: 0;
}
.text-event-date {
  color: white;
  font-family: "Osiris";
  font-size: 3vh;
  max-width: 35%;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  position: absolute;
  display: inline-block;
  text-align: right;
  margin-top: 1vh;
  right: 1.5vh;
  max-width: 45%;
}
.text-event-desc {
  color: white;
  font-family: "Osiris";
  font-size: 2.75vh;
  max-width: 85%;
  max-height: 50%;
  /* max height was 52% */

  margin-top: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  overflow-y: auto;
}

.text-input-label {
  color: white;
  font-family: "Osiris";
  font-size: 3vh;

  position: absolute;
  left: 28vw;
}

/* INPUT FIELDS */
.input-text {
  width: 28vw;
  height: 5vh;
  background: #383a40;
  border: 0.5vh solid white;

  /* distance from left side */
  text-indent: 1vw;
  font-size: 2vh;
  color: lightgray;
  border-radius: 1.5vh;
  font-family: "Osiris";

  position: absolute;
  left: 42vw;
}

.lineVertical {
  height: 100%;
  width: 0.25%;
  background-color: white;

  position: absolute;
  left: 39.75%;
}

.paragraph {
  font-family: "Montserrat";
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  line-height: 45px;
  /* margin-bottom: 180px;
  margin-top: 102px; */
}
