@font-face {
  font-family: "Osiris";
  src: url("/styles/Osiris.woff2");
}
@font-face {
  font-family: "discord";
  src: url("/styles/gg\ sans\ Medium.woff");
}

/* CONTAINERS */
.modal-container {
  /* MAIN WINDOW OF THE MODAL */
  width: 50vw;
  height: 70vh;
  background: #313338;
  border: 1vh solid white;
  margin: 15vh auto;
  position: relative;
}

body {
  background-image: radial-gradient(circle, #2e343e, #171717);
  overflow-y: auto;
  scrollbar-width: 0%; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
::-webkit-scrollbar {
  display: none;
}
.back-btn {
  width: 98px;
  height: 98px;
  margin-left: 2%;
  position: fixed;
  margin-top: 22.5%;
}
.back-btn-btn {
  background: none;
  border: none;
}

.center-wrapper {
  width: 100vw;
  justify-content: center;
  position: relative;
}

.btn-wrapper {
  width: 20%;
  height: 20%;
  background: none;
  border: none;
}
.button-wrapper {
  /* height: 100%;
  width: 100%; */
  transition: filter 0.1s ease;
  cursor: pointer;
  -webkit-user-drag: none; /* Safari */
  -khtml-user-drag: none; /* Konqueror */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* Internet Explorer/Edge */
  user-select: none; /* Prevent text selection */
}
.button-wrapper:hover {
  filter: brightness(0.7); /* Darken the image */
}
.button-wrapper:active {
  filter: brightness(0.2); /* Darken the image */
}
.invisible-wrapper {
  visibility: hidden;
}

/* TEXT TYPES */
.text-title {
  color: white;
  font-family: "Osiris";
  font-size: 60px;
  text-align: center;
}
.text-button-filter {
  color: white;
  font-family: "Osiris";
  font-size: 2vh;
  text-align: center;
}

.button-filter.active {
  background-color: #007bff; /* Example active background color */
  color: white; /* Example active text color */
}

.text-input-label {
  color: white;
  font-family: "Osiris";
  font-size: 3vh;

  position: absolute;
  left: 28vw;
}
.text-modal {
  color: white;
  font-family: "Osiris";
  font-size: 5vh;

  display: inline-block;
  overflow-y: auto;
  line-height: 5vh;

  margin-top: 0.3vh;
  margin-left: 1.5vh;
  margin-bottom: 0;
  margin-right: 0;

  left: 0%;
  position: absolute;
}
.input-text {
  width: 28vw;
  height: 5vh;
  background: #383a40;
  border: 0.5vh solid white;

  /* distance from left side */
  text-indent: 1vw;
  font-size: 2vh;
  color: lightgray;
  border-radius: 1.5vh;
  font-family: "Osiris";

  position: absolute;
  left: 42vw;
}

.mainsection {
  width: 70vw;
  height: 2000vh;
  position: absolute; /* This is required for top and left to work */
  background-color: #070707;
  top: 0;
  left: 30vw;
  display: block;
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* BUTTONS */
.button-filter {
  width: 12.5vw;
  height: 7.5vh;
  background-color: #313338;
  border: 0.5vh solid white;
  border-radius: 2vh;

  position: absolute;
  right: 3.75vw;
}
.button-icon {
  width: 4vh;
  height: 4vh;
  background-color: #313338;
  border: 0.5vh solid white;
  border-radius: 1.5vh;

  position: absolute;
  bottom: 80.5vh;
  right: 60vw;
}
.button-expand {
  width: 5vh;
  height: 5vh;
  background-color: #313338;
  border: 0.5vh solid white;
  border-radius: 1.5vh;

  position: absolute;
  right: 2.5%;
  bottom: 20%;
  padding-bottom: 1vh;
}
input {
  color-scheme: dark;
}
