/* CONTAINERS */
.container-project {
  width: 90%;
  height: 57.5%;
  margin-left: 4%;
}
.container-ti {
  width: 900px;
  height: 775px;
  border: 0.5vh solid white;
  border-radius: 2vh;

  position: absolute;
  top: 10vh;
  left: 40vw;
  margin-top: 2vh;
}
.project-sidebar {
  margin-top: 30px;
  background-color: #313338;
  color: white;
  font-family: "Osiris";
  font-size: 52px;
  text-align: center;
  width: 488px;
  height: 875px;
  margin-left: 290px;
  border-radius: 41px;
  position: absolute;
  z-index: 1;
}

/* OBJECTS */
.project {
  width: 100%;
  height: 17.5%;
  margin-left: 0%;
  margin-bottom: 2.5%;
  border: 5px solid white;
  border-radius: 1.5vh;
  font-size: 3vh;
}
.task {
  width: 95%;
  height: 20%;
  border: 0.5vh solid white;
  border-radius: 2vh;

  margin-left: 2%;
  margin-top: 2%;
  position: relative;
}

.text-ti {
  color: white;
  font-family: "Osiris";
  position: absolute;
  cursor: default;
  user-select: none;
}

.project-element {
  width: 100%;
  height: 20%;

  border: 0.5vh solid white;
  border-radius: 1vh;
  margin-top: 0.5vh;
}

.title-btns {
  color: white;
  font-family: "Osiris";
  font-size: 52px;
}
.sidebar-cover {
  width: 446px;
}
