.login-banner {
  width: 40vw;
  margin-left: 50%;
  /* transform: translate combined with margin left effectively centers the element */
  transform: translateX(-50%);
  margin-top: 2%;
}
.login-header {
  color: white;
  font-weight: bold;
  font-size: 4vh;
  font-family: "Segoe UI";
  text-align: center;
  cursor: default;
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 50%;
  transform: translateX(-50%);
}
.login-box {
  margin-bottom: 2vh;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 7vh;
  font-size: 3vh;
  font-family: Arial;
  text-indent: 10%;

  border-radius: 19px;
  color: #747474;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 1);
  border: 3px solid black;
}
.login-box:focus {
  outline: 5px solid rgb(199, 59, 59); /* Example border color */
}
.login-box:hover {
  cursor: pointer;
}
.login-box::placeholder {
  font-family: "Osiris";
  text-align: left;
  text-indent: 35px;
}
.login-box:focus::placeholder {
  opacity: 0; /* Make the placeholder text transparent */
}
.login-submit-btn {
  padding: 1vh 1vw;
  font-size: 3vh;
  font-family: "Osiris";
  color: white;
  background-color: #fe4a47;
  border-radius: 2vh;
  border: 1px solid #707070;

  margin-top: 3vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

.login-create-btn {
  padding: 1vh 1vw;
  font-size: 3vh;
  font-family: "Osiris";
  color: white;
  background-color: #fe4a47;
  border-radius: 2vh;
  border: 1px solid #707070;
  text-wrap: nowrap;
  margin-top: 1vh;
  margin-left: 50%;
  transform: translateX(-50%);
}
.login-submit-btn:active {
  background-color: #4d0201;
}

.login-submit-btn:hover {
  cursor: pointer;
}

.login-create-btn:active {
  background-color: #4d0201;
}

.login-create-btn:hover {
  cursor: pointer;
}
